.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.centered-content {
  text-align: center;
}