.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
button {
  width: 30%;
  height: 30px;
}